html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.background {
  position: absolute;
}

.button {
  position: fixed;
  left: 245px;
  top: 1324px;
}
